{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "overrides": [
      {
          "files": ["*.json"],
          "options": {
              "tabWidth": 4
          }
      },
      {
          "files": "*.php",
          "options": {
              "phpVersion": "8.1",
              "tabWidth": 4,
              "singleQuote": true,
              "trailingCommaPHP": true,
              "braceStyle": "per-cs"
          }
      }
  ]
}
